[Unit]
Description=Mattermost
After=syslog.target network.target rh-postgresql12-postgresql.service
Wants=rh-postgresql12-postgresql.service

[Service]
Type=simple
WorkingDirectory=/opt/mattermost
User=mattermost
ExecStart=/opt/mattermost/bin/mattermost
PIDFile=/var/spool/mattermost/pid/master.pid
LimitNOFILE=49152
Restart=always
StandardOutput=null

[Install]
WantedBy=multi-user.target
