<h1 i18n="configuration">Configuration</h1>

<div id="loader" class="spinner spinner-lg"></div>
<div id="content">
    <form id="config-form" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="textInput-modal-markup" i18n="enable_mattermost"></label>
            <div class="col-sm-5">
                <input id="config-status" class="form-control" type="checkbox" placeholder="mattermost.mydomain.org"
                    value="">
            </div>
        </div>
        <div id="config-warning" class="alert alert-warning alert-dismissable">
            <span class="pficon pficon-warning-triangle-o"></span>
            <strong i18n="warning"></strong>. <span i18n="warning_text"></span>.
        </div>
        <div id="group-VirtualHost" class="form-group">
            <label class="col-sm-2 control-label" for="textInput-modal-markup" i18n="virtual_host_name"></label>
            <div class="col-sm-5">
                <input id="config-VirtualHost" class="form-control" type="text" placeholder="" value="">
                <span id="error-VirtualHost" class="help-block" i18n="valid_fqdn"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="textInput-modal-markup">
                <div id="config-loader" class="spinner spinner-sm"></div>
            </label>
            <div class="col-sm-5">
                <button class="btn btn-primary" type="submit" i18n="save"></button>
            </div>
        </div>
    </form>
</div>

<script>
    $('[i18n]').each(function () {
        $(this).text(_($(this).attr('i18n')))
    });

    $('#loader').show()
    $('#content').hide()
    $('#config-warning').hide()
    $('#config-loader').hide()
    $('#group-VirtualHost').hide()
    $('#error-VirtualHost').hide()

    $('#config-status').change(function () {
        console.log("change")
        if (this.checked) {
            $('#config-warning').show()
            $('#group-VirtualHost').show()
        } else {
            $('#config-warning').hide()
            $('#group-VirtualHost').hide()
            $('#error-VirtualHost').hide()
        }

    })

    function getConfig() {
        nethserver.exec(
            ["nethserver-mattermost/read"],
            null,
            null,
            function (success) {
                try {
                    success = JSON.parse(success);

                    var status = success.configuration.props.status == 'enabled'
                    if (status) {
                        $('#config-warning').show()
                        $('#group-VirtualHost').show()
                    }

                    $('#config-status').attr('checked', status)
                    $('#config-VirtualHost').val(success.configuration.props.VirtualHost)

                    $('#loader').hide()
                    $('#content').show()
                } catch (e) {
                    console.error(e)
                    $('#loader').hide()
                    $('#content').show()
                }
            },
            function (error) {
                console.error(error)
            }
        );
    }

    $('#config-form').submit(function (event) {
        event.preventDefault();

        $('#config-loader').show()

        // get values
        var status = $('#config-status').prop("checked") == true ? 'enabled' : 'disabled'
        var VirtualHost = $('#config-VirtualHost').val()

        // create obj
        var configObj = {
            "props": {
                "status": status,
                "VirtualHost": VirtualHost,
            },
            "name": "mattermost",
        }

        // validate obj
        nethserver.exec(
            ["nethserver-mattermost/validate"],
            configObj,
            null,
            function (success) {
                // define notifications
                nethserver.notifications.success = _("configuration_ok")
                nethserver.notifications.error = _("configuration_error")

                // update values
                nethserver.exec(
                    ["nethserver-mattermost/update"],
                    configObj,
                    function (stream) {
                        console.info("nethserver-mattermost", stream);
                    },
                    function (success) {
                        $('#config-loader').hide()
                        getConfig()
                    },
                    function (error) {
                        $('#config-loader').hide()
                        console.error(error);
                    }
                );
            },
            function (error, data) {
                $('#config-loader').hide()
                var errorData = {};
                try {
                    errorData = JSON.parse(data);
                    for (var e in errorData.attributes) {
                        var attr = errorData.attributes[e]
                        $('#group-' + attr.parameter).addClass('has-error')
                        $('#error-' + attr.parameter).show()
                    }
                } catch (e) {
                    console.error(e)
                }
            }
        );
    });

    // get initial values
    getConfig()
</script>